{% extends "blog/layout.html.twig" %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}
{% block body %}
<div>
    <h1>
        {{page}}
    </h1>
    <div class="row">
        {% for article in articles  %}
        <div class="col-xs-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a href="{{path('blog_detail',{id:article.id})}}">{{ article.titre }}</a>
                    <a href="{{path('blog_remove',{id:article.id})}}" class="btn btn-danger btn-xs">X</a>
                </div>
                {% if article.Image is not null and article.image.Url != ""  %}
                <div class="panel-body">
                    <img src='{{article.Image.Url}}' alt="{{article.Image.Alt}}" />
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="col-xs-4">aucun article trouvé</div>

        {% endfor %}

    </div>
</div>
    {% endblock %}
